@{
    ViewData["Title"] = "Index";
}
<div>
    <br />
    <br />
    <h2 align="center">Welcome to the Admin Area of the Site</h2>
    <br />
    <br />
</div>
<div class="col-md-12 text-center" >
        <img src="~/images/sofia-metro-lines-2016-july.png" style="max-height : 600px" />
</div>